.settings
*.project
*.classpath
/what2do/what2do-app/.idea
/what2do/what2do-app/what2do-app-it/target/classes/de/hsnr/abts/what2do/android/test/BuildConfig.class
/what2do/what2do-app/what2do-app-it/target/classes/de/hsnr/abts/what2do/android/test/MainActivityTest.class
/what2do/what2do-app/what2do-app-it/target/classes/de/hsnr/abts/what2do/android/test/R$attr.class
/what2do/what2do-app/what2do-app-it/target/classes/de/hsnr/abts/what2do/android/test/R$drawable.class
/what2do/what2do-app/what2do-app-it/target/classes/de/hsnr/abts/what2do/android/test/R$layout.class
/what2do/what2do-app/what2do-app-it/target/classes/de/hsnr/abts/what2do/android/test/R$string.class
/what2do/what2do-app/what2do-app-it/target/classes/de/hsnr/abts/what2do/android/test/R.class
/what2do/what2do-app/what2do-app-it/target/generated-sources/r/de/hsnr/abts/what2do/android/test/BuildConfig.java
/what2do/what2do-app/what2do-app-it/target/generated-sources/r/de/hsnr/abts/what2do/android/test/Manifest.java
/what2do/what2do-app/what2do-app-it/target/generated-sources/r/de/hsnr/abts/what2do/android/test/R.java
/what2do/what2do-app/what2do-app-it/target/what2do-app-it.apk
/what2do/what2do-app/what2do-app/target/generated-sources/r/de/hsnr/abts/what2do/android/BuildConfig.java
/what2do/what2do-app/what2do-app/target/generated-sources/r/de/hsnr/abts/what2do/android/Manifest.java
/what2do/what2do-app/what2do-app/target/generated-sources/r/de/hsnr/abts/what2do/android/R.java
